@import '../Pokemon.scss';
@import './Config.scss';

.caterpie {
  @extend %size;

  > .head {
    animation-duration: 3s;
    animation-name: shakeTheBody;
    animation-iteration-count: infinite;
    background: map-get($colors, primary);
    border-radius: 50%;
    box-shadow:
      inset -2px 1px 10px rgba(0, 0, 0, 0.4),
      inset 2px -16px 15px rgba(0, 0, 0, 0.4);
    height: 112px;
    margin-left: -66px;
    position: relative;
    left: 43%;
    top: 36px;
    width: 132px;
    z-index: 2;

    > .horn {
      @extend %horn;
      border-radius: 30% 30% 50% 50%;
      height: 26px;
      margin-left: -27px;
      position: absolute;
      left: 50%;
      top: 30px;
      transform: rotate(-10deg);
      width: 16px;
      z-index: 2;

      &:before {
        @extend %pseudo;
        @extend %horn;
        border-radius: 90% 90% 50% 50%;
        box-shadow: inset 0 -4px 4px rgba(0, 0, 0, 0.2);
        height: 58px;
        left: -26px;
        top: -39px;
        transform: rotate(-235deg);
        width: 19px;
      }

      &:after {
        @extend %pseudo;
        @extend %horn;
        border-radius: 50% 50% 90% 90%;
        box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.2);
        height: 56px;
        right: -26px;
        top: -25px;
        transform: rotate(80deg);
        width: 18px;
      }
    }

    > .eye-left {
      @extend %eye;
      height: 33px;
      left: 5px;
      top: 23px;
      transform: rotate(17deg);
      width: 6px;

      &:before {
        @extend %pseudo;
        @extend %eyeBefore;
        height: 27px;
        top: 3px;
        width: 3px;
      }
    }

    > .eye-right {
      @extend %eye;
      height: 47px;
      right: 0;
      top: 23px;
      transform: rotate(-12deg);
      width: 27px;

      &:before {
        @extend %pseudo;
        @extend %eyeBefore;
        height: 42px;
        left: 5px;
        top: 3px;
        width: 20px;
      }

      &:after {
        @extend %pseudo;
        background: map-get($colors, eyeLight);
        border-radius: 50%;
        height: 17px;
        top: 6px;
        right: 3px;
        transform: rotate(-13deg);
        width: 6px;
      }
    }

    > .mouth {
      background: map-get($colors, primary);
      border-radius: 50%;
      box-shadow:
        inset 4px -14px 8px rgba(0, 0, 0, 0.2),
        inset -8px -4px 10px rgba(0, 0, 0, 0.3),
        2px -6px 9px rgba(0, 0, 0, 0.2);
      height: 42px;
      margin-left: -49px;
      position: absolute;
      left: 50%;
      bottom: 1px;
      transform: rotate(11deg);
      width: 74px;

      &:before {
        @extend %pseudo;
        background: map-get($colors, primary);
        border-radius: 50%;
        box-shadow: inset -5px 5px 7px rgba(0, 0, 0, 0.4);
        height: 50px;
        left: 20px;
        top: 5px;
        transform: rotate(90deg);
        width: 28px;
      }

      &:after {
        @extend %pseudo;
        border-radius: 50%;
        border-left: 4px solid rgba(0,0,0,0.2);
        border-top: 4px solid rgba(0,0,0,0.2);
        box-shadow: -2px -1px 6px rgba(0, 0, 0, 0.4);
        height: 50px;
        left: 20px;
        bottom: -13px;
        transform: rotate(90deg);
        width: 28px;
      }
    }
  }

  > .body {
    position: relative;
    text-align: center;
    z-index: 1;

    > .body-item1 {
      animation-duration: 3s;
      animation-name: shakeTheBodyTwo;
      animation-iteration-count: infinite;
      background: map-get($colors, primary);
      border-radius: 50%;
      box-shadow:
        inset -1px 6px 10px rgba(0, 0, 0, 0.4),
        inset 7px -6px 24px rgba(0, 0, 0, 0.4);
      display: inline-block;
      height: 100px;
      margin-left: -70px;
      position: absolute;
      left: 50%;
      top: -5px;
      width: 120px;
      z-index: 5;

      &:before {
        @extend %pseudo;
        background: map-get($colors, secundary);
        border-radius: 40% 60% 10% 50%;
        display: inline-block;
        height: 77px;
        margin-left: -47px;
        position: absolute;
        left: 50%;
        top: 25px;
        width: 67px;
      }

      &:after {
        @extend %pseudo;
        background: map-get($colors, primary);
        border-radius: 50%;
        border: 4px solid map-get($colors, secundary);
        box-shadow:
          inset -2px 1px 10px rgba(0, 0, 0, 0.2),
          inset 2px -16px 15px rgba(0, 0, 0, 0.2);
        border-right: none;
        display: inline-block;
        height: 38px;
        margin-left: 38px;
        position: absolute;
        left: 50%;
        top: 37px;
        width: 20px;
      }

      > .hands {
        &:before {
          @extend %pseudo;
          background: map-get($colors, secundary);
          border-radius: 50%;
          box-shadow: inset 0 -4px 4px rgba(0, 0, 0, 0.2);
          height: 20px;
          margin-left: -52px;
          position: absolute;
          left: 50%;
          top: 64px;
          width: 20px;
        }

        &:after {
          @extend %pseudo;
          background: map-get($colors, secundary);
          border-radius: 50%;
          box-shadow: inset 0 -4px 4px rgba(0, 0, 0, 0.2);
          height: 20px;
          margin-right: -24px;
          position: absolute;
          left: 50%;
          top: 67px;
          width: 20px;
        }
      }
    }

    > .body-item2 {
      animation-duration: 3s;
      animation-name: shakeTheBodyThree;
      animation-iteration-count: infinite;
      background: map-get($colors, primary);
      border-radius: 50%;
      box-shadow:
        inset -2px 1px 10px rgba(0, 0, 0, 0.4),
        inset 2px -16px 15px rgba(0, 0, 0, 0.4);
      display: inline-block;
      height: 80px;
      margin-left: -50px;
      position: absolute;
      left: 50%;
      top: 52px;
      width: 88px;
      z-index: 4;

      &:before {
        @extend %pseudo;
        background: map-get($colors, secundary);
        border-radius: 60% 20% 20% 100%;
        display: inline-block;
        height: 70px;
        margin-left: -33px;
        position: absolute;
        left: 50%;
        top: 25px;
        width: 50px;
      }

      &:after {
        @extend %pseudo;
      }
    }

    > .body-item3 {
      animation-duration: 3s;
      animation-name: shakeTheBodyFour;
      animation-iteration-count: infinite;
      animation-duration: 3s;
      animation-name: shakeTheBodyFour;
      animation-iteration-count: infinite;
      background: map-get($colors, primary);
      border-radius: 50%;
      box-shadow:
        inset -2px 1px 10px rgba(0, 0, 0, 0.4),
        inset 2px -16px 15px rgba(0, 0, 0, 0.4);
      display: inline-block;
      height: 64px;
      margin-left: -36px;
      position: absolute;
      left: 50%;
      top: 90px;
      width: 71px;
      z-index: 3;

      &:before {
        @extend %pseudo;
        background: map-get($colors, secundary);
        border-radius: 20% 40% 30% 50%;
        display: inline-block;
        height: 30px;
        margin-left: -23px;
        position: absolute;
        left: 50%;
        top: 25px;
        width: 30px;
      }

      &:after {
        @extend %pseudo;
      }
    }

    > .body-item4 {
      animation-duration: 3s;
      animation-name: shakeTheBodyFive;
      animation-iteration-count: infinite;
      background: map-get($colors, primary);
      border-radius: 50%;
      box-shadow:
        inset -2px 1px 10px rgba(0, 0, 0, 0.4),
        inset 2px -16px 15px rgba(0, 0, 0, 0.4);
      display: inline-block;
      height: 50px;
      margin-left: -28px;
      position: absolute;
      left: 50%;
      top: 106px;
      width: 70px;
      z-index: 2;
    }

    > .body-item5 {
      animation-duration: 3s;
      animation-name: shakeTheBodySix;
      animation-iteration-count: infinite;
      background: map-get($colors, primary);
      border-radius: 50%;
      box-shadow:
        inset -2px 1px 10px rgba(0, 0, 0, 0.4),
        inset 2px -16px 15px rgba(0, 0, 0, 0.4);
      display: inline-block;
      height: 30px;
      margin-left: 10px;
      position: absolute;
      left: 50%;
      top: 106px;
      width: 40px;
      z-index: 1;
    }

    > .tail {
      animation-duration: 3s;
      animation-name: shakeTheTail;
      animation-iteration-count: infinite;
      background: map-get($colors, secundary);
      border-radius: 50%;
      display: inline-block;
      height: 50px;
      margin-left: 50px;
      position: absolute;
      left: 50%;
      top: 50px;
      transform: rotate(36deg);
      transform-origin: 0% bottom;
      width: 20px;

      &:before {
        @extend %pseudo;
        border: 10px solid transparent;
        border-top: 34px solid map-get($colors, secundary);;
        position: absolute;
        bottom: -30px;
        left: 0;
      }
    }
  }
}
