$colors: (
  primary: #8dc961,
  secundary: #ede582,
  horn: #f68845,
  eye: #000,
  eyeLight: #73746a
);

%eye {
  background: map-get($colors, secundary);
  border-radius: 50%;
  position: absolute;
}

%eyeBefore {
  background: map-get($colors, eye);
  border-radius: 50%;
}

%horn {
  background: map-get($colors, horn);
}
