$colors: (
  primary: #93d548,
  secundary: #274114,
  eyeLight: #fff
);

%eye {
  background: map-get($colors, eyeLight);
  border-radius: 50%;
  border: 2px solid map-get($colors, secundary);
  position: absolute;
}
