@import '../Pokemon.scss';
@import './Config.scss';

.metapod {
  @extend %size;

  > .head {
    position: relative;

    &:before {
      @extend %pseudo;
      background: map-get($colors, primary);
      border-radius: 50%;
      height: 40px;
      margin-left: -33px;
      top: 20px;
      left: 50%;
      transform: rotate(20deg);
      width: 30px;
    }

    &:after {
      @extend %pseudo;
      background: map-get($colors, primary);
      border-radius: 50%;
      height: 160px;
      margin-left: -56px;
      top: 20px;
      left: 50%;
      transform: rotate(15deg);
      width: 47px;
    }

    > .eye-left {
      @extend %eye;
      height: 33px;
      margin-left: 16px;
      left: 50%;
      top: 100px;
      transform: rotate(-10deg);
      width: 20px;
      z-index: 1;

      &:before {
        @extend %pseudo;
        background: map-get($colors, secundary);
        border-radius: 50%;
        height: 10px;
        top: 8px;
        right: 0;
        width: 10px;
      }
    }

    > .eye-right {

      &:before {
        @extend %pseudo;
      }

      &:after {
        @extend %pseudo;
      }
    }

  }

  > .body {
    position: relative;

    &:before {
      @extend %pseudo;
      background: map-get($colors, primary);
      border-radius: 50%;
      height: 160px;
      margin-left: -20px;
      top: 20px;
      left: 50%;
      transform: rotate(-20deg);
      width: 47px;
    }

    &:after {
      @extend %pseudo;
      background: map-get($colors, primary);
      border-radius: 25%;
      height: 120px;
      margin-left: -69px;
      top: 130px;
      left: 50%;
      transform: rotate(21deg);
      width: 100px;
    }

    > .item1 {
      position: relative;
      z-index: 2;

      &:before {
        @extend %pseudo;
        background: map-get($colors, primary);
        border: 3px solid  map-get($colors, secundary);
        border-radius: 15%;
        box-shadow: inset -7px 4px 9px rgba(0, 0, 0, 0.2);
        height: 34px;
        margin-left: -49px;
        top: 153px;
        left: 50%;
        transform: rotate(47deg);
        width: 35px;
        z-index: 2;
      }

      &:after {
        @extend %pseudo;
        background: map-get($colors, primary);
        border: 3px solid  map-get($colors, secundary);
        border-radius: 10%;
        box-shadow: inset -12px -9px 18px rgba(0,0,0,0.2);
        height: 69px;
        margin-left: -60px;
        transform: perspective(36px) rotateX(-10deg) rotateY(0deg);
        top: 174px;
        left: 50%;
        width: 69px;
      }
    }

    > .body-item1 {

      &:before {
        @extend %pseudo;
        background: map-get($colors, primary);
        border-radius: 25%;
        height: 130px;
        margin-left: -47px;
        top: 120px;
        left: 50%;
        transform: rotate(-21deg);
        width: 90px;
      }

      &:after {
        @extend %pseudo;
        background: map-get($colors, primary);
        border-radius: 50%;
        height: 60px;
        margin-left: 30px;
        top: 143px;
        left: 50%;
        transform: rotate(-20deg);
        width: 20px;
      }
    }

    > .body-item2 {

      &:before {
        @extend %pseudo;
        background: map-get($colors, primary);
        border-radius: 50%;
        height: 130px;
        margin-left: -57px;
        top: 148px;
        left: 50%;
        width: 114px;
      }

      &:after {
        @extend %pseudo;
        background: map-get($colors, primary);
        border-radius: 50%;
        height: 80px;
        margin-left: -32px;
        top: 202px;
        left: 50%;
        width: 100px;
      }
    }

    > .tail {

      &:before {
        @extend %pseudo;
        background: map-get($colors, primary);
        border-radius: 50%;
        height: 40px;
        margin-left: 42px;
        top: 223px;
        left: 50%;
        width: 30px;
      }

      &:after {
        @extend %pseudo;
        background: map-get($colors, primary);
        border-radius: 50%;
        height: 20px;
        margin-left: 56px;
        top: 225px;
        left: 50%;
        width: 20px;
      }
    }
  }
}
