%size {
  height: 300px;
  width: 300px;

  @media (max-width: 600px) {
    transform: scale(0.8);
  }

  @media (max-width: 300px) {
    transform: scale(0.5);
  }
}

%pseudo {
  content: "";
  display: inline-block;
  position: absolute;
}
